.main-nav{
    width: 95%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    background-color: #fdfdfd;
    color: #fff;
    padding: 20px 5px;
    border-radius: 5px;
}

.el-nav{
    padding: 0px 10px;
    color: #203e03;
    text-decoration: none;
}
